* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-image: linear-gradient(to bottom right, #292256 0%, #8446cf 70%, #a871d6 100%);
    background-repeat: no-repeat;
    height: 98.7vh;
}

.name {
    text-align: center;
    font-family: cursive;
    font-size: 10vh;
    margin: 8px;
    cursor: pointer;
}

.calci {
    background-color: #45047a;
    border-right: 1px solid #a871d6;
    border-top: 1px solid #a871d6;
    width: 70vh;
    height: 72.4vh;
    margin-left: 33%;
    position: relative;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.8);
}

.input {
    width: 100%;
    height: 12vh;
    text-align: right;
    padding: 6px;
    border-bottom: 2px solid #a871d6;
    border-left: 2px solid #a871d6;
    cursor: text;
}

.input:hover {
    background: none;
}

.lines,
.last-lines {
    display: flex;
    align-items: center;
}

input {
    background: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vh;
    height: 12vh;
    text-transform: uppercase;
    border: 2px solid #a871d6;
    border-top: none;
    border-right: none;
    cursor: pointer;
    transition: background-color 1s;
    border-radius: 8px;
}

input:hover {
    background-color: #a871d6;
}

input:active {
    opacity: 0.6;
}

.clear{
    width: 75%;
}

.x{
    width: 25%;
}

.numbers {
    width: 26.66%;
}

.operators {
    width: 20%;
}